@media (max-width: 1720px) {

    .suz {

        display: none;
    }
    
}

body {
    margin: 3%;
    
}
.wrapper {
padding-top: 2%;
padding-right: 10%;
padding-left: 10%;
}
.header {
color: #000000;
font-family: 'consolas';
text-align: right;
line-height: 30%;
font-size: 90%;
}

.name {
    font-family: 'consolas';
    font-weight: bolder;
    font-size: 250%;

}

.Role {
  font-family: 'consolas';
  display: flex;
}
Indent mode

Spaces
Indent size

4
Line wrap mode

No wrap
Selection deleted
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69


#skills {
    position: relative;
    top: 30%;
}

.ex {
    font-family: 'consolas';
    background-color: yellow;
}
.sum {
    text-align: center;
    justify-content: center;
    font-family: 'consolas';
}

#pluto {
    text-align: right;
    font-family: 'consolas';
    filter: blur(1px);
}

.suz {
    position: absolute;
    top: 3px;
    right: 750px;
    float: right;
    height: 100px;
    width: 200px;

}
